
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #2e3159;
}

.snake {
  background-color: #344713; 
  border: 1px dotted #306230;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  background-color: #8bac0f;
}

.game-border-1 {
  border: #344713 solid 10px;
  border-radius: 0px;
  box-shadow: inset 0 0 10px #0f380f;
}

#space {
  position: absolute;
  top: 60%;
  color: #344713;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
  color: #344713;
}

#score {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
  color: #8bac0f;
}

.food {
  background-color: #859d33;
  border: #627a15 5px solid;
  border-radius: 20%;
}

#logo {
  position: absolute;
  width: 200px;
  height: 200px;
}
